# Config-Makefile for Husky-packages

##############################################################################
# Programs
##############################################################################

# C-Compiler
CC=gcc
EXENAMEFLAG=-o
WARNFLAGS=-Wall
OPTCFLAGS=-c -s -O3 -fomit-frame-pointer -fstrength-reduce -fPIC
DEBCFLAGS=-c -ggdb
OPTLFLAGS=-s
DEBLFLAGS=

#Msged needs access to a termcap library. Define it's name here.
#On Linux, termcap is integrated into ncurses:
TERMCAP=ncurses
#On FreeBSD or commerical Unices, you may try on of the following:
#TERMCAP=termcap
#TERMCAP=terminfo

# C++-Compiler
GPP=g++

# Pascal-Compiler
PC=ppc386

# archiver (for object-files)
AR=ar

# remove file
RM=rm

# install file
INSTALL=install

# link file (DOS: copy file)
LN=ln

# create directory
MKDIR=mkdir

# update dynamic library cache
LDCONFIG=/sbin/ldconfig

# rename a file
MV=mv

#copy a file
CP=cp

#Make a library file usable. You may leave this empty if it is n/a.
RANLIAB=ar s

#############################################################################
# program options
#############################################################################

# type of operating system (UNIX,MSDOS,OS2,WINNT)
OSTYPE=UNIX

# name of operating system
UNAME=LNX

# do not generate debug informations
DEBUG=0

# 8.3 names
SHORTNAMES=0

# dynamic libs (*.so), only works with gcc and only on Unix
# if you set DYNLIBS=0, but have Unix/Linux, you should add
# "-static" to the OPTCFLAGS and WARNCFLAGS variables (above),
# in order to # avoid linkage with old .so files that may be 
# floating around
DYNLIBS=1

# additional C-Defines, for features of your OS
ADDCDEFS=-DHAS_POPEN

# options for installing programs
IBOPT=-c -s

# options for installing libs
ILOPT=-c

# options for installing man-pages
IMOPT=-c

# options for installing includes
IIOPT=-c

# options for linking files
LNOPT=-sf

# archiver options
AR_R = r

# options for creating directories
MKDIROPT=-p

#############################################################################
# file extensions
#############################################################################

# extension of executable (e.g. ".exe")
EXE=

# extension of object file
OBJ=.o

# extension of (static) libs
LIB=.a

# extension of compiled pascal units
TPU=.ppu

# directory separator (DOS: "\", Unix: "/")
DIRSEP=/


#############################################################################
# directories
#############################################################################

# install libs in /usr/local/lib
LIBDIR=/usr/local/lib

# install programs in /usr/local/bin
BINDIR=/usr/local/bin

# install manpages in /usr/local/man
MANDIR=/usr/local/man

# install includes in /usr/local/include
INCDIR=/usr/local/include

# the config will be in /etc/fido
CFGDIR=/etc/fido

# texinfo pages will be install here - only set this if you have the
# makeinfo and install-info programs installed
INFODIR=/usr/local/info

#HTML documentation (content is equivalent to texinfo pages) will be installed
#hee - only set if you have a working "texi2html" script installed
#HTMLDIR=/usr/local/lib/husky

